*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

html{
    scroll-behavior: smooth;
}

/*header*/
.navigationbar{
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(67, 83, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    opacity: 0.9;
}

.navigationbar .logo{
    height: 3rem;
    width: 5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
    background-image: url("logo.png");
    background-size: cover;
} 

#image234{
    visibility: hidden ;
}

.navigationbar .navigate{
    width: 35vw;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    cursor: pointer;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
/*main*/
#image123{
    visibility: hidden;
}

.hero_pic{
    height: 90vh;
    width: 100vw;
    background-image: url("dustbins.jpeg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

.hero_div{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.getStarted{
    height: 5rem;
    width: 15rem;
    display: inline;
}

.getStarted button{
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    color: #ffffff;
    transition: all 250ms;
    border: 0;
    font-size: 32px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: green;
    text-decoration: none;
}
  
.getStarted button:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.about{
    height: 50vh;
    width: 80vw;
    background-color: #fff;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    background-color: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 8rem;
    border-radius: 25px;
    padding: 5rem;
    font-size: 2rem;
}

.institute{
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;   
}

.au{
    height: 36vh;
    width: 46vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
}

.au_logo{
    height: 9vh;
    width: 21vh;
    background-image: url("au.png");
    background-size: cover;
}

.au_text{
    height: 11vh;
    width: 44vw;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
}

.ait{
    height: 36vh;
    width: 46vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
}

.ait_logo{
    height: 15vh;
    width: 15vh;
    background-image: url("atria.png");
    background-size: cover;
    align-self: center;
}

.ait_text{
    height: 15vh;
    width: 44vw;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
    align-self: center;
}

.textphoto{
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: left;
}

.grp_photo{
    height: 95vh;
    width: 50vw;
}

.information{
    height: 95vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text1{
    height: 18vh;
    width: 44vw;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2rem;
    padding: 2rem;
}

.mission{
    height: 95vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our_mission{
    height: 25vh;
    width: 44vw;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.mission_logo{
    height: 10vh;
    width: 44vh;
    font-size: 3rem;
    padding: 1rem;
}

.mission_text{
    height: 15vh;
    width: 44vw;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.5rem;
    padding: 1rem;
}

.our_vission{
    height: 25vh;
    width: 44vw;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.vission_logo{
    height: 10vh;
    width: 44vh;
    font-size: 3rem;
    padding: 1rem;
}

.vission_text{
    height: 15vh;
    width: 44vw;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.5rem;
    padding: 1rem;
}  

.info{
    height: 12vh;
    width: 44vw;
    background-color: #98c5a4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.founded{
    height: 8vh;
    width: 40vh;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.founded_text{
    height: 4vh;
    width: 40vw;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.color_div{
    height: 190vh;
    width: 100vw;
    background-color: #bcdeda;
    padding-top: 2.5rem;
    justify-content: center;
}

.team_photo{
    height: 50vh;
    width: 90vw;
    margin: 5rem;
    border-radius: 25px;
    background-color: #99cac5;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team_photo_logo{
    height: 15vh;
    width: 90vh;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.team_photo_text{
    height: 25vh;
    width: 90vw;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 4rem;
}

.picture{
    height: 15vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem;    
}

.picture_logo{
    height: 10vh;
    width: 90vh;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.picture_text{
    height: 5vh;
    width: 90vw;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

.our_team{
    height: 40vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    justify-content: space-evenly;
    padding-top: 4rem;
    background-color: #99cac5;
}

.mem{
    height: 4vh;
    width: 24vw;
    background-color: #fff;
    border: 2px solid black;
    margin: 2rem;
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.news{
    height: 30vh;
    width: 90vw;
    margin: 5rem;
    background-color: #9ec3bf;
    border-radius: 25px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news_logo{
    height: 10vh;
    width: 90vh;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}   

.news_text{
    height: 10vh;
    width: 90vw;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

/*footer*/
.footer_content{
    height: 50vh;
    background-color: #579497;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.footer_logo{
    height: 50vh;
    width: 40vw;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
}

.logos{
    height: 19vh;
    width: 49vw;
    margin: 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.logo_bin{
    height: 10vh;
    width: 10vw;
    margin: 0.1rem;
    background-image: url(logo.png);
    background-size: cover;
}

.logo_ait{
    height: 15vh;
    width: 8vw;
    margin: 0.1rem;
    background-image: url(atria.png);
    background-size: cover;
}

.logo_au{
    height: 14vh;
    width: 18vw;
    margin: 0.1rem;
    background-image: url(au.png);
    background-size: cover;
}

.para{
    height: 19vh;
    width: 35vw;
    margin: 0.1rem;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5rem;
}

.social_link{
    height: 9vh;
    width: 39vw;
    margin: 0.1rem;
}

.Quick_Links{
    height: 50vh;
    width: 30vw;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    padding-top: 1rem;
}

.Contact{
    height: 50vh;
    width: 30vw;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 4rem; 
    padding-top: 1rem;
}  
 /* footer foot div */
.footer_foot_content{
    height: 10vh;
    width: 100vw;
    background-color: rgb(6, 77, 136);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}